service: serverlessapi

# AWS deployment details
provider:
  name: aws
  runtime: nodejs24.x
  region: eu-west-2
  apiGateway:
    shouldStartNameWithService: true

# Lambda functions that authorize data access using JWT access token
functions:
  
  getUserInfo:
    handler: dist/getUserInfo.handler
    package:
      include:
        - dist/getUserInfo.js
        - api.config.json
        - package.json
    events:
      - http: 
          path: /userinfo
          method: get

  getCompanyList:
    handler: dist/getCompanyList.handler
    package:
      include:
        - dist/getCompanyList.js
        - data/companyList.json
        - api.config.json
        - package.json
    events:
      - http: 
          path: /companies
          method: get

  getCompanyTransactions:
    handler: dist/getCompanyTransactions.handler
    package:
      include:
        - dist/getCompanyTransactions.js
        - data/companyList.json
        - data/companyTransactions.json
        - api.config.json
        - package.json
    events:
      - http: 
          path: /companies/{id}/transactions
          method: get
          request: 
            parameters: 
              paths: 
                id: true

# Disable the default build which we are overriding with webpack
build:
  esbuild: false

# Exclude all files by default and choose files in the function packaging above
package:
  individually: true
  patterns:
  - '!/**'
  
# Support running locally and configuring domain details in AWS
plugins:
  - serverless-offline
  - serverless-domain-manager

# AWS custom domain integration details
custom:
  customDomain:
    domainName: 'api.authsamples.com'
    certificateName: 'authsamples.com'
    basePath: investments
    endpointType: regional

resources:
  Resources:
  
    # Limit cloudwatch log retention 
    GetUserInfoLogGroup:
      Type: 'AWS::Logs::LogGroup'
      Properties:
        RetentionInDays: '5'
    GetCompanyListLogGroup:
      Type: 'AWS::Logs::LogGroup'
      Properties:
        RetentionInDays: '5'
    GetCompanyTransactionsLogGroup:
      Type: 'AWS::Logs::LogGroup'
      Properties:
        RetentionInDays: '5'
