service: serverlessapi

# AWS deployment details
provider:
  name: aws
  runtime: nodejs24.x
  region: eu-west-2
  apiGateway:
    shouldStartNameWithService: true

# Lambda functions that authorize using scopes and claims in JWT access tokens
functions:
  
  getUserInfo:
    handler: dist/host/lambda/getUserInfo.handler
    events:
      - http: 
          path: /userinfo
          method: get

  getCompanyList:
    handler: dist/host/lambda/getCompanyList.handler
    events:
      - http: 
          path: /companies
          method: get

  getCompanyTransactions:
    handler: dist/host/lambda/getCompanyTransactions.handler
    events:
      - http: 
          path: /companies/{id}/transactions
          method: get
          request: 
            parameters: 
              paths: 
                id: true

# Files excluding from packaging
package:
  patterns:
  - '!.codacy.yaml'
  - '!.mocharc.json'
  - '!.vscode/**'
  - '!api*.log'
  - '!eslint.config.mjs'
  - '!certs/**'
  - '!environments/**'
  - '!images/**'
  - '!src/**'
  - '!test/**'
  - '!tsconfig.json'
  - '!package-lock.json'
  - '!README.md'
  - '!LICENSE.txt'
  - '!*.sh'
  - '!*serverlessOffline.yml'

# Enable local HTTPS hosting and integration with AWS domains
plugins:
  - serverless-offline
  - serverless-domain-manager

# Details for the Serverless domain manager plugin
custom:
  customDomain:
    domainName: 'api.authsamples.com'
    certificateName: 'authsamples.com'
    basePath: investments
    endpointType: regional

resources:
  Resources:

    # Limit cloudwatch log retention 
    GetUserInfoLogGroup:
      Type: 'AWS::Logs::LogGroup'
      Properties:
        RetentionInDays: '5'
    GetCompanyListLogGroup:
      Type: 'AWS::Logs::LogGroup'
      Properties:
        RetentionInDays: '5'
    GetCompanyTransactionsLogGroup:
      Type: 'AWS::Logs::LogGroup'
      Properties:
        RetentionInDays: '5'
