service: serverlessapi

# AWS deployment details
provider:
  name: aws
  runtime: nodejs24.x
  region: eu-west-2
  apiGateway:
    shouldStartNameWithService: true

# Serverless domain manager details
custom:
  customDomain:
    domainName: 'api.authsamples.com'
    certificateName: 'authsamples.com'
    basePath: investments
    endpointType: regional

# Lambda functions that authorize data access using JWT access token
functions:
  
  getUserInfo:
    handler: src/host/lambda/getUserInfo.handler
    #package:
    #  individually: true
    #  include:
    #    - dist/getUserInfo.bundle.js
    #    - api.config.json
    #    - serverless.yml
    #    - package.json
    events:
      - http: 
          path: /userinfo
          method: get

  getCompanyList:
    handler: src/host/lambda/getCompanyList.handler
    #package:
    #  individually: true
    #  include:
    #    - dist/getCompanyList.bundle.js
    #    - data/companyList.json
    #    - api.config.json
    #    - serverless.yml
    #    - package.json
    events:
      - http: 
          path: /companies
          method: get

  getCompanyTransactions:
    handler: src/host/lambda/getCompanyTransactions.handler
    #package:
    #  individually: true
    #  include:
    #    - dist/getCompanyTransactions.bundle.js
    #    - data/companyTransactions.json
    #    - api.config.json
    #    - serverless.yml
    #    - package.json
    events:
      - http: 
          path: /companies/{id}/transactions
          method: get
          request: 
            parameters: 
              paths: 
                id: true

# Disable the default build which we are overriding with webpack
build:
  esbuild: false

# Support running locally and configuring domain details in AWS
plugins:
  - serverless-offline
  - serverless-domain-manager

# Exclude all files by default and choose files within each lambda
#package:
#  patterns:
#  - '!/**'

package:
  # Package individual bundles that can be minimized
  individually: true
  
  # Exclude irrelevant files
  patterns:
  - '!.codacy.yaml'
  - '!.mocharc.json'
  - '!.vscode/**'
  - '!api*.log'
  - '!eslint.config.mjs'
  - '!certs/**'
  - '!environments/**'
  - '!images/**'
  - '!src/**'
  - '!webpack/**'
  - '!test/**'
  - '!tsconfig.json'
  - '!package-lock.json'
  - '!serverlessOffline.yml'
  - '!README.md'
  - '!LICENSE.txt'
  - '!*.map'
  - '!*.sh'

resources:
  Resources:
  
    # Limit cloudwatch log retention 
    GetUserInfoLogGroup:
      Type: 'AWS::Logs::LogGroup'
      Properties:
        RetentionInDays: '5'
    GetCompanyListLogGroup:
      Type: 'AWS::Logs::LogGroup'
      Properties:
        RetentionInDays: '5'
    GetCompanyTransactionsLogGroup:
      Type: 'AWS::Logs::LogGroup'
      Properties:
        RetentionInDays: '5'
