service: serverlessapi

# AWS deployment details
provider:
  name: aws
  runtime: nodejs24.x
  region: eu-west-2
  apiGateway:
    shouldStartNameWithService: true

# Serverless domain manager details
custom:
  customDomain:
    domainName: 'api.authsamples.com'
    certificateName: 'authsamples.com'
    basePath: investments
    endpointType: regional

# Lambda functions that receives a JWT access token
functions:
  
  getUserInfo:
    handler: src/host/lambda/getUserInfo.handler
    events:
      - http: 
          path: /userinfo
          method: get

  getCompanyList:
    handler: src/host/lambda/getCompanyList.handler
    events:
      - http: 
          path: /companies
          method: get

  getCompanyTransactions:
    handler: src/host/lambda/getCompanyTransactions.handler
    events:
      - http: 
          path: /companies/{id}/transactions
          method: get
          request: 
            parameters: 
              paths: 
                id: true

package:
  # Package individual bundles that can be minimized
  individually: true
  
  # Exclude irrelevant files
  patterns:
  - '!.codacy.yaml'
  - '!.mocharc.json'
  - '!.vscode/**'
  - '!api*.log'
  - '!eslint.config.mjs'
  - '!certs/**'
  - '!environments/**'
  - '!images/**'
  - '!src/**'
  - '!test/**'
  - '!tsconfig.json'
  - '!package-lock.json'
  - '!serverlessOffline.yml'
  - '!README.md'
  - '!LICENSE.txt'
  - '!*.sh'

plugins:
  - serverless-offline
  - serverless-domain-manager

resources:
  Resources:

    # Limit cloudwatch log retention 
    GetUserInfoLogGroup:
      Type: 'AWS::Logs::LogGroup'
      Properties:
        RetentionInDays: '5'
    GetCompanyListLogGroup:
      Type: 'AWS::Logs::LogGroup'
      Properties:
        RetentionInDays: '5'
    GetCompanyTransactionsLogGroup:
      Type: 'AWS::Logs::LogGroup'
      Properties:
        RetentionInDays: '5'
