a
{
    cursor: pointer;
}
.btn
{
    margin-top:10px;
    width:150px;
}
.panel {
    border: 0;
}
.listcontainer
{
    margin-top: 20px;
}
.transactionscontainer
{
    margin-top: 20px;
}
.errorcontainer
{
    margin-top: 20px;
}
.transactionslist
{
    margin-top: 20px;
}
.link
{
    color: blue;
}
.amount
{
    font-weight: bold;
    color:green;
}
.logintext
{
    text-align:right;
    font-weight: bold;
}
.error
{
    color:red;
}
.trace
{
    color:blue;
}
.hide
{
    display:none;
}